
// colors defaults
$red: #FD1015;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$blue: #0481b2;
$yellow: #FFC65A;
$orange: #E67E22;
$purple: #C850C0;
$purple1: #a83b6e;

// set background colors
$background-b1: #4158D0;
$background-b0: #1F2023;
$background-b2: #161619;