
.box-login {
  padding: 20px 20px 20px 20px;
  border-radius: 4px;
  background-color: #1F2023; // Umanni color;
}

.card-login  {
  padding: 20px 20px 20px 20px;
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.314);
  padding: 20px;
  background-color: #27292d; // Umanni color;
}
