<footer id="footer" class="overflow-hidden bg-black">
  <div class="container p-2">
    <div class="row">
      <div class="footer-top-area">
        <div class="row d-flex flex-wrap justify-content-between">
          <div class="col-lg-2 col-sm-6 pb-3">
            <div class="footer-menu text-uppercase">
              <h5 class="widget-title pb-2 link-no-sub">
                Links
              </h5>
              <ul class="menu-list list-unstyled text-uppercase">
                <li class="menu-item pb-2">
                  <a href="#">Home</a>
                </li>
                <li class="menu-item pb-2">
                  <a href="#">About</a>
                </li>
                <li class="menu-item pb-2">
                  <a href="#">Shop</a>
                </li>
                <li class="menu-item pb-2">
                  <a href="#">Blogs</a>
                </li>
                <li class="menu-item pb-2">
                  <a href="#">Contact</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 pb-3">
            <div class="footer-menu text-uppercase">
              <h5 class="widget-title pb-2 link-no-sub">Help &amp; Info</h5>
              <ul class="menu-list list-unstyled">
                <li class="menu-item pb-2">
                  <a href="#">Order</a>
                </li>
                <li class="menu-item pb-2">
                  <a href="#">Policies</a>
                </li>
                <li class="menu-item pb-2">
                  <a href="#">Shipping + Delivery</a>
                </li>
                <li class="menu-item pb-2">
                  <a href="#">Contact Us</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 pb-3">
            <div class="footer-menu contact-item">
              <h5 class="widget-title text-uppercase pb-2 link-no-sub">Contact Us</h5>
              <p class="text-white">
              Do you have any queries or suggestions?
                <a class="area-no-sub" href="mailto:">
                  yourinfo@gmail.com
                </a>
              </p>
              <p class="text-white" >
                If you need support? Just give us a call. 
                <a class="area-no-sub" href="">
                +55 111 222 333 44
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<hr>
</footer>