
<div class="container">
  <div class="row p-4">

     <div class="text-white px-5">
        <div class="mr-2">
          <h1>Welcome to the<br><strong>Umanni Manage Users</strong></h1>
          <p>Change your way to manage your users!  </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
          <div class="services-item bg-light">
              <div class="p-4 text-center services-content">
                  <div class="services-content-icon">
                      <i class="fas fa-user-secret fa-7x mb-4 text-primary"></i>
                      <h4 class="mb-3"> Login </h4>
                      <p class="mb-4">
                        Lorem ipsum dolor sit amet elit. Sed efficitur quis purus ut interdum. 
                        Aliquam dolor eget urna ultricies tincidunt.
                      </p>
                      <%= link_to "Login", new_user_session_path, class: 'btn btn-secondary text-white px-5 py-3 rounded-pill btn-lg' %>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
          <div class="services-item bg-light">
              <div class="p-4 text-center services-content">
                  <div class="services-content-icon">
                      <i class="fa fa-envelope-open fa-7x mb-4 text-primary"></i>
                      <h4 class="mb-3">Digital Marketing</h4>
                      <p class="mb-4">Lorem ipsum dolor sit amet elit. Sed efficitur quis purus ut interdum. Aliquam dolor eget urna ultricies tincidunt.</p>
                      <a href="" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Read More</a>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeIn;">
          <div class="services-item bg-light">
              <div class="p-4 text-center services-content">
                  <div class="services-content-icon">
                      <i class="fas fa-laptop fa-7x mb-4 text-primary"></i>
                      <h4 class="mb-3">Sign up</h4>
                      <p class="mb-4">Lorem ipsum dolor sit amet elit. Sed efficitur quis purus ut interdum. Aliquam dolor eget urna ultricies tincidunt.</p>
                      <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-secondary text-white px-5 py-3 rounded-pill btn-lg' %>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
